@model TP2324.Models.Home

@{
    ViewData["Title"] = "HomesDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Detalhes</h1>
                    <span class="color-text-a">Detalhes da habitação</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Habitações/Lista das habitações/Detalhes
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Single-->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">Empresa/locador:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Company.Name)</dd>

                <dt class="col-sm-4">Tipo:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.typeResidence.Name)</dd>

                <dt class="col-sm-4">Categoria:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Category.Name)</dd>

                <dt class="col-sm-4">Morada:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                <dt class="col-sm-4">Distrito:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.District.Name)</dd>

                <dt class="col-sm-4">Preço por dia:</dt>
                <dd class="col-sm-8">€ @Html.DisplayFor(model => model.PriceToRent)</dd>

                <dt class="col-sm-4">Período mínimo (Dia):</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MinimumPeriod)</dd>

                <dt class="col-sm-4">Banheiros:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumWC)</dd>

                <dt class="col-sm-4">Estacionamentos:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumParks)</dd>

                <dt class="col-sm-4">Área (m²):</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.SquareFootage)</dd>

                <dt class="col-sm-4">Avaliação:</dt>
                <dd class="col-sm-8">
                    @if (Model.Ratings == null)
                    {
                        <span>Sem avaliação</span>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Ratings)
                    }
                </dd>

                <dt class="col-sm-4">Estado:</dt>
                <dd class="col-sm-8">
                    @if (Model.Available)
                    {
                        <span class="text-success">Disponível</span>
                    }
                    else
                    {
                        <span class="text-danger">Indisponível</span>
                    }
                </dd>

                <dt class="col-sm-4">Wifi:</dt>
                <dd class="col-sm-8">
                    @if (Model.Wifi)
                    {
                        <span class="text-success">Disponível</span>
                    }
                    else
                    {
                        <span class="text-danger">Indisponível</span>
                    }
                </dd>

                <dt class="col-sm-4">Descrição:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

                <dt class="col-sm-4">Imagem:</dt>
                <dd class="col-sm-8">
                    @if (!string.IsNullOrEmpty(Model.ImgUrl))
                    {
                        <img src = "~/img/@Model.ImgUrl" alt = "" class="img-a img-fluid">
                    }
                    else
                    {
                        <span>Sem imagem disponível</span>
                    }
                </dd>
            </dl>
        </div>
    </div>
   
    <div class="row">
        <div class="col-md-8">
            <div>
                <a class="btn btn-c" asp-action="HomesEdit" asp-route-id="@Model?.Id">Editar</a>
                <a asp-controller="EmployeeArea" asp-action="DeleteHomes" asp-route-Id="@Model?.Id">
                    <button type="submit" class="btn btn-c">Apagar</button>
                </a>
                <a class="btn btn-c" asp-action="HomesList">Voltar à lista</a>
            </div>
        </div>
    </div>
    <br />
</div>
