@model TP2324.Models.Home

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToRent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceToRent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceToPurchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceToPurchase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumRooms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumRooms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumWC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumWC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SquareFootage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SquareFootage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumParks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumParks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wifi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wifi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.toRent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.toRent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.toPurchase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.toPurchase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
