@model TP2324.ViewModels.PesquisaHabitacaoViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Nossas habitações</h1>
                    <span class="color-text-a">Subtitulo</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Nossas habitações
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
    <div class="container">
        @if(Model.NumResultados > 0)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid-option">
                        <div class="btn btn-c" onclick="toggleFilters()">Filtros</div>
                        <form asp-controller="Homes" asp-action="Search" method="get" class="filter-form">
                            <ul class="submenu" id="filter-submenu">
                                <li>
                                    <label class="submenu-label" for="homeTypeDropdown">Distritos:</label>
                                    <select class="submenu-box" id="homeTypeDropdown" asp-for="LocalizacaoSelecionada" asp-items="ViewBag.HomeDistrict" onchange="this.form.submit()">
                                        <option value="">Todos</option>
                                    </select>
                                </li>
                                <li>
                                    <label class="submenu-label" for="homeTypeDropdown">Tipo:</label>
                                    <select class="submenu-box" asp-for="TipoResidenciaSelecionado" asp-items="ViewBag.HomeTypes" onchange="this.form.submit()">
                                        <option value="">Todos</option>
                                    </select>
                                </li>
                                <li>
                                    <label class="submenu-label" for="homeTypeDropdown">Categoria:</label>
                                    <select class="submenu-box" asp-for="CategoriaSelecinada" asp-items="ViewBag.HomeCategory" onchange="this.form.submit()">
                                        <option value="">Todos</option>
                                    </select>
                                </li>
                                <li>
                                    <label class="submenu-label" for="homeTypeDropdown">Locador:</label>
                                    <select class="submenu-box" asp-for="LocadorSelecionado" asp-items="ViewBag.HomeCompanies" onchange="this.form.submit()">
                                        <option value="">Todos</option>
                                    </select>
                                </li>
                                <li>
                                    <label class="submenu-label" for="ordenacao">Ordenar por:</label>
                                    <select class="submenu-box" id="ordenacao" asp-for="Ordenacao" onchange="this.form.submit()">
                                        <option value="MaiorPreco">Maior preço</option>
                                        <option value="MenorPreco">Menor preço</option>
                                    </select>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

                @foreach (Home c in Model.Homeslist)
                {
                    @if (c.Available)
                    {
                        <div class="col-md-4">
                            <div class="card-box-a card-shadow">
                                <div class="img-box-a">
                                    <img src="~/img/@c.ImgUrl" alt="" class="img-a img-fluid">
                                </div>
                                <div class="card-overlay">
                                    <div class="card-overlay-a-content">
                                        <div class="card-header-a">
                                            <h2 class="card-title-a">
                                                <span class="color-b"> @c.typeResidence.Name </span>
                                                <br> @c.Address,
                                                <br> @c.District.Name
                                            </h2>
                                        </div>
                                        <div class="card-body-a">
                                            <div class="price-box d-flex">
                                                <span class="price-a">€ @c.PriceToRent</span>
                                            </div>
                                            <a asp-action="Details" asp-route-id=@c.Id class="link-a">
                                                Saber mais
                                                <span class="bi bi-chevron-right"></span>
                                            </a>
                                        </div>
                                        <div class="card-footer-a">
                                            <ul class="card-info d-flex justify-content-around">
                                                <li>
                                                    <h4 class="card-info-title">Categoria</h4>
                                                    <span>@c.Category.Name</span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Período minímo</h4>
                                                    <span>
                                                        @c.MinimumPeriod dia(s)
                                                    </span>
                                                </li>
                                                <li>
                                                    <h4 class="card-info-title">Locador</h4>
                                                    <span>@c.Company.Name</span>
                                                </li>
                                                @if (c.Ratings == null)
                                                {
                                                    <li>
                                                        <h4 class="card-info-title">Avaliação</h4>
                                                        <span>Por avaliar</span>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <h4 class="card-info-title">Avaliação</h4>
                                                        <span>@c.Ratings</span>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                     
                }
            </div>
        }
        else
        {
            <p class="alert alert-warning">
                Não foi possível
                encontrar habitações com os dados introduzidos.
                <br />
                Por favor, reveja a sua pesquisa!
            </p>
        }

    </div>
</section>
<!-- End Property Grid Single-->
<!-- Logica do btn filter-->
<script>
    function toggleFilters() {
        var submenu = document.getElementById("filter-submenu");
        submenu.classList.toggle("active");
    }
</script>