@model IEnumerable<TP2324.Models.Home>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1>Habitações</h1>
 *@
<p>
    <a asp-action="Create">Adicionar Habitação</a>
    <br />

    <form asp-controller="Homes" asp-action="Index" method="post">
        <label for="pesquisa"></label>
        <input type="text" id="pesquisa" name="pesquisa" placeholder="Tipo a pesquisar...">
        <input type="submit" value="Pesquisar">
    </form>
    <br />

    <a asp-action="Index">Todos</a>
    <a asp-action="Index" asp-route-toRent="true">Arrendar</a>
    <a asp-action="Index" asp-route-toPurchase="true">Comprar</a>
    @*<a asp-action="Index" asp-route-emdestaque="true">Disponível</a>*@
</p>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Categoria
            </th>
            <th>
                Preço de Arrendamento
            </th>
            <th>
                Preço de Compra
            </th>
            <th>
                Wc
            </th>
            <th>
                Morada
            </th>
            <th>
                Área Útil
            </th>
            <th>
                Estacionamento
            </th>
            <th>
                WiFi
            </th>
            <th>
                Descrição
            </th>
            <th>
                Arrendar
            </th>
            <th>
                Comprar
            </th>
            <th>
                Data de início de contrato
            </th>
            <th>
                Data de final de contrato
            </th>
            <th>
                Périodo mínimo de contrato
            </th>
            <th>
                Disponibilidade da habitação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceToRent)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceToPurchase)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumWC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFootage)m²
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumParks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wifi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toRent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
