@model IEnumerable<TP2324.Models.Home>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Nossas habitações</h1>
                    <span class="color-text-a">Subtitulo</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Nossas habitações
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
    <div class="container">
        <a class="create-btn" asp-action="Create">Adicionar Habitação</a>
        <br />
        <div class="btn-area">
            <a class="apartamento-btn" asp-action="Index" asp-route-tipo="apartamento">Apartamentos</a>
            <a class="casa-btn" asp-action="Index" asp-route-tipo="casa">Casas</a>
            <a class="comprar-btn" asp-action="Index" asp-route-toPurchase="true">Comprar</a>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-option">
                    @* <form>
                        <select class="custom-select">
                            <option selected>All</option>
                            <option value="1">New to Old</option>
                            <option value="2">For Rent</option>
                            <option value="3">For Sale</option>
                        </select>
                    </form> *@
                </div>
            </div>
            @foreach (var home in Model)
            {
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="~/img/@home.ImgUrl" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <span class="color-b"> @home.Type </span>
                                        <br> @home.Address
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">€ @home.PriceToRent</span>
                                    </div>
                                    <a href="property-single.html" class="link-a">
                                        Saber mais
                                        <span class="bi bi-chevron-right"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Área</h4>
                                            <span>
                                                @home.SquareFootage m²
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Categoria</h4>
                                            <span>@home.Category.Name</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Casa(s) de banho</h4>
                                            <span>@home.NumWC</span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Estacionamentos</h4>
                                            <span>@home.NumParks</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            }   
        </div>
        @* Page Number *@
        @* <div class="row">
            <div class="col-sm-12">
                <nav class="pagination-a">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                                <span class="bi bi-chevron-left"></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item next">
                            <a class="page-link" href="#">
                                <span class="bi bi-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> *@
    </div>
</section>
<!-- End Property Grid Single-->
