@model TP2324.ViewModels.PesquisaHabitacaoViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Sua pesquisa:</h1>
                    <span class="color-text-a">@Model.TextoAPesquisar</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Nossas habitações
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= Property Grid ======= -->
<section class="property-grid grid">
    <div class="container">
        @if(Model.NumResultados > 0)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid-option" style="display: flex; justify-content: space-between;">
                        <a class="create-btn" asp-action="Create">Adicionar Habitação</a>
                        <div class="dropdown">
                            <form asp-controller="Homes" asp-action="Index" method="get">
                                <label class="dropdown-label" for="homeTypeDropdown">Selecione o Tipo:</label>
                                <select class="dropdown-box" id="homeTypeDropdown" asp-for="TextoAPesquisar" asp-items="ViewBag.HomeTypes" onchange="this.form.submit()">
                                    <option value="">Todos</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                @foreach (Home c in Model.Homeslist)
                {
                    <div class="col-md-4">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                <img src="~/img/@c.ImgUrl" alt="" class="img-a img-fluid">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <span class="color-b"> @c.typeResidence.Name </span>
                                            <br> @c.Address
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">€ @c.PriceToRent</span>
                                        </div>
                                        <a href="property-single.html" class="link-a">
                                            Saber mais
                                            <span class="bi bi-chevron-right"></span>
                                        </a>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Área</h4>
                                                <span>
                                                    @c.SquareFootage m²
                                                </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Categoria</h4>
                                                <span>@c.Category.Name</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Casa(s) de banho</h4>
                                                <span>@c.NumWC</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Estacionamentos</h4>
                                                <span>@c.NumParks</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        }
        else
        {
            <p class="alert alert-warning">
                Não foi possível
                encontrar habitações com os dados introduzidos.
                <br />
                Por favor, reveja a sua pesquisa!
            </p>
        }
        
    </div>
</section>
<!-- End Property Grid Single-->
