@model List<TP2324.Models.HomeStatus>

@{
    ViewData["Title"] = "FormIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Entregas</h1>
                    <span class="color-text-a">Lista das entregas</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Habitações / Forms Index
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th>Equipamentos</th>
                        <th>Danos</th>
                        <th>Observações</th>
                        <th>Utilizador que entregou</th>
                        <th>Arrendamento</th>
                        <th>Fotografias</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Equipments</td>
                            <td>@item.Damage</td>
                            <td>@item.Observation</td>
                            <td>@item.ApplicationUserId</td>
                            <td>@item.RentingId</td>
                            <td>
                                @if (item.Files != null && item.Files.Length > 0)
                                {
                                    var imagesFolderPath = $"~/imgForms/{item.Id}/";

                                    foreach (var file in item.Files)
                                    {
                                        var imgSrc = $"{imagesFolderPath}{file.FileName}";
                                        <img src="@Url.Content(imgSrc)" alt="Image" class="img-thumbnail" />
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
