@model IEnumerable<TP2324.Models.Renting>

@{
    ViewData["Title"] = "RentingsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Arrendamentos</h1>
                    <span class="color-text-a">Veja os arrendamentos da empresa</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Arrendamentos
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->



<div class="container">
    @if (Model.Count() == 0)
    {
        <p>Não existe(m) arrendamento(s).</p>
    }
    else
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Preço</th>
                    <th scope="col">Data início do contrato</th>
                    <th scope="col">Data final do contrato</th>
                    @* <th scope="col">Endereço</th> *@
                    <th scope="col">Cliente</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.BeginDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                        @* <td>@Html.DisplayFor(modelItem => item.Homes.Address)</td> *@
                        <td>@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)</td>


                        @if (item.IsApproved)
                        {
                            <td>Aprovado</td>
                        }
                        else
                        {
                            <td>Por aprovar</td>
                        }


                        <td>
                            <a class="btn btn-c" asp-action="DetailsRentings" asp-route-id="@item.Id">Detalhes</a>
                            @if (!item.IsApproved)
                            {
                                <a class="btn btn-c" asp-action="ConfirmRenting" asp-route-id="@item.Id">Confirmar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
