@model List<TP2324.ViewModels.ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Details</h1>

    <form method="post">
        <div class="card">
            <div class="card-header">
                <h2>Manage User Roles</h2>
                <span class="badge bg-dark text-white">@ViewBag.UserName</span> Add/remove roles
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].RoleId" />
                        <input type="hidden" asp-for="@Model[i].RoleName" />
                        <input asp-for="@Model[i].Selected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].Selected">
                            @Model[i].RoleName
                        </label>
                    </div>
                }

                <div class="card-footer">
                    <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
                    <a asp-action="Index" class="btn btn-primary" style="width:auto">Cancel</a>
                </div>

                </input>
            </div>
    </form>
</div>

