@model TP2324.ViewModels.CreateCompanyViewModel;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Empresas/Locadores</h1>
                    <span class="color-text-a">Gere os locadores da sua plataforma</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Empresas/Locadores
                        </li>
                    </ol>
                </nav>
            </div>
           
        </div>
    </div>
</section><!-- End Intro Single-->

<div class="container">
    <div class="col-sm-12">
        <div class="grid-option mb-3" style="display: flex; justify-content: space-between;">
            <form asp-controller="CompanyManager" asp-action="Index" method="get">
                <div class="form-group">
                    <label for="search">Pesquisar:</label>
                    <input type="text" class="form-control" id="search" name="TextoAPesquisar" value="@Model.TextoAPesquisar">
                </div>
            </form>
            </div>
            <div class="dropdown-priceFilter mb-3">
                <form asp-controller="CompanyManager" asp-action="Index" method="get">
                    <label class="dropdown-label" for="ordenacao">Ordenar por:</label>
                    <select class="dropdown-box" id="ordenacao" asp-for="Ordenacao" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="Ativo">Ativo</option>
                        <option value="Inativo">Inativo</option>
                    </select>
                </form>
            </div>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Avaliação</th>
                <th>Estado da subscrição</th>
                <th>Dominío</th>
                <th>Gestores</th>
                <th>Detalhes</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach ( Company company in Model.companiesList)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.Description</td>
                    <td>@company.Rating</td>
                    @if (company.State)
                    {
                        <td>Ativo</td>
                    }
                    else
                    {
                        <td>Inativo</td>
                    }
                    <td>@company.EmailDomain</td>
                    <td>@company.Managers.Count()</td>
                    
                    <td>
                        <a asp-controller="CompanyManager" asp-action="Details" asp-route-Id="@company.Id">
                            <button type="submit" class="btn btn-c">Detalhes</button>
                        </a>
                        <a asp-controller="CompanyManager" asp-action="Edit" asp-route-Id="@company.Id">
                            <button type="submit" class="btn btn-c">Editar</button>
                        </a>
                        <a asp-controller="CompanyManager" asp-action="Delete" asp-route-Id="@company.Id">
                            <button type="submit" class="btn btn-c">Apagar</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
