@model List<TP2324.ViewModels.ManageUserRolesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Detalhes</h1>
                    <span class="color-text-a">Gerir as roles</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Utilizadores
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Single-->

<div class="container">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <span class="badge bg-dark text-white">@ViewBag.UserName</span> Adicionar/Remover roles
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].RoleId" />
                        <input type="hidden" asp-for="@Model[i].RoleName" />
                        <input asp-for="@Model[i].Selected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].Selected">
                            @Model[i].RoleName
                        </label>
                    </div>
                }

                <div class="card-footer">
                    <input type="submit" value="Atualizar" class="btn btn-c" style="width:auto" />
                    <a asp-action="Index" class="btn btn-c" style="width:auto">Cancelar</a>
                    
                </div>

                </input>
            </div>
    </form>
</div>

