@model List<TP2324.ViewModels.UserRolesViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Utilizadores</h1>
                    <span class="color-text-a">Gere os utilizadores da sua plataforma</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Pagina principal</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Utilizadores
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Single-->

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Primeiro nome</th>
                <th>Último nome</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Gerir Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.UserName</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td>
                        <a asp-controller="UserRolesManager" asp-action="Details" asp-route-userId="@user.UserId">
                            <button type="submit" class="btn btn-c">Gerir roles</button>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
